<body>
    <div class="top">
        <br>
    </div>
    <div class="container-fluid header">
        <div class="row">
            <div class="col-sm-2 p-3">
                <a>
                    <img src="/..//src/assets/images/mpku.png" alt="Home">
                </a>
            </div>
            <div class="col-sm-7 p-3">
                <div class="container mt-3 box nav-justified">
                    <ul class="nav nav-pills">
                        <li class="nav-item p-1">
                            <a class="nav-link btnHover" href="dashboard">Home</a>
                        </li>
                        <li class="nav-item p-1">
                            <a class="nav-link btnHover" href="settings">Settings</a>
                        </li>
                        <li class="nav-item p-1">
                            <a class="nav-link active" href="contactUs">Contact Us</a>
                        </li>
                    </ul><br>
                </div>
            </div>
            <div class="col-sm-3 p-3">
                <div class="col">
                    <div class="container box nav-justified loginBox">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <p>Login As {{userName}}</p>
                            </li>
                        </ul>
                    </div>
                    <div class="container box nav-justified">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a (click)="logout()" class="logoutButton">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="mt-3"></div>
    <div class="flexbox mt-5 m-2" style="background-color:azure;padding: 2em 2em 1em 2em;">
        <div>
            <p>Contact Us</p>
        </div>
        <div class="p-0 m-0" style="background-color: aliceblue;">
            <b style="margin: 2px;">Interdeals Automation (M) Sdn Bhd</b>
            <p style="margin: 2px;">No.2, Jalan PJS 11/7,</p>
            <p style="margin: 2px;">Bandar Sunway,</p>
            <p style="margin: 2px;">47500 Subang Jaya,</p>
            <p style="margin: 2px; margin-bottom: 30px;">Selangor Darul Ehsan</p>

            <p style="margin: 2px;">Hotline : 1300 88 76 86</p>
            <p style="margin: 2px;">Tel : +603-5635 5787 (10 lines)</p>
            <p style="margin: 2px;">47500 Subang Jaya,</p>
            <p style="margin: 2px;">Selangor Darul Ehsan</p>
            <div style="display: flex; margin-top: 0px;">
                <b style="margin: 2px;">support@interdeals.com.my</b>
                <button (click)="emailTo()" class="emailButton" style="margin-left: auto">Email</button>
            </div>
        </div>
    </div>
    <br>
</body>