<body>
    <div class="top">
        <br>
    </div>
    <div class="container-fluid header">
        <div class="row">
            <div class="col-sm-2 mt-4 d-flex">
                <a>
                    <img src="/..//src/assets/images/logo.png" alt="Home">
                </a>
            </div>
            <div class="col-sm-8 btnReference">
                <div class="container mt-4 box nav-justified">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <div class="col" (click)="addRecordPage()">
                                <img src="/..//src/assets/images/addRecord.png" alt="Home">
                                <a class="nav-link" href="addRecord">Add Record</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="col active" (click)="deleteRecordPage()">
                                <img src="/..//src/assets/images/deleteRecord.png" alt="Home">
                                <a class="nav-link" href="deleteRecord">Delete Record</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="col" (click)="searchRecordPage()">
                                <img src="/..//src/assets/images/searchRecord.png" alt="Home">
                                <a class="nav-link" href="searchRecord">Search Record</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="col" (click)="reportingPage()">
                                <img src="/..//src/assets/images/reporting.png" alt="Home">
                                <a class="nav-link" href="reporting">Reporting</a>
                            </div>
                        </li>
                    </ul><br>
                </div>
            </div>
            <div class="col-sm-2 mt-4">
                <div class="col d-flex justify-content-between">
                    <div class="container box nav-justified col-6">
                        <ul class="nav nav-pills">
                            <li class="logoutText">
                                <div class="col-logout">
                                    <p style="font-weight: bold; font-size: 1.1em;">LOGGED AS</p>
                                    <p style="color: blue; font-size: 1.1em; font-weight: bold;">
                                        {{userName.toUpperCase()}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="container box nav-justified col-4">
                        <ul class="nav nav-pills">
                            <li class="logout">
                                <img src="/..//src/assets/images/logout.png" (click)="logout()">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3"></div>

    <div class="flexbox m-5 p-5 mt-2 pt-2 mb-2 pb-2"
        style="background-color: rgb(255, 255, 255); outline-style: ridge; outline-color:rgb(174, 174, 174);">
        <p style="justify-content: center; align-items: center; display: flex;font-size: 1.5em;font-weight: bold;">
            DELETE RECORD</p>
        <div style="background-color: rgb(239, 239, 239);" class="upperBox">
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-2 mt-1">
                        <label for="unitNo">UNIT NO</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-2 mt-1">
                        <input type="text" class="form-control" id="srchBoxUnitNo" placeholder="Enter Unit. No"
                            name="srchBoxUnitNo" [(ngModel)]="srchBoxUnitNo">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-2 mt-1">
                        <label for="mailingAddress">IC NUMBER</label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-2 mt-1">
                        <input type="text" class="form-control" id="srchBoxIC" placeholder="Enter IC Number"
                            name="srchBoxIC" [(ngModel)]="srchBoxIC">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row justify-content-center align-items-center">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary mt-4" (click)="searchRecord()">SEARCH</button>
                        </div>
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary mt-4" (click)="clear()">CLEAR</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <div class="mt-3"></div>

    <div class="flexbox m-5 p-5 mt-2 pt-2 mb-2 pb-2"
        style="background-color: rgb(255, 255, 255); outline-style: ridge; outline-color:rgb(174, 174, 174);">
        <div style="background-color: rgb(239, 239, 239);">
            <table>
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>UNIT NO.</th>
                        <th>RENTAL RATE</th>
                        <th>I/C NO.</th>
                        <th>TENANT NAME</th>
                        <th>CONTACT NO.</th>
                        <th>MAILING ADDRESS</th>
                        <th>EMAIL ADDRESS</th>
                        <th>COMPANY NAME</th>
                        <th>DELETE RECORD</th>
                    </tr>
                </thead>
                <tbody *ngIf="isLoading">
                    <app-spinner [show]="isLoading"></app-spinner>
                </tbody>
                <tbody *ngIf="!isLoading">
                    <tr
                        *ngFor="let records of filterList.slice((currentPage - 1) * itemsPerPage,currentPage*itemsPerPage); let i = index">
                        <td>
                            <span>{{i+1}}</span>
                        </td>
                        <td>
                            <span>{{records.unitNo}}</span>
                        </td>
                        <td>
                            <span>{{records.rentalRate}}</span>
                        </td>
                        <td>
                            <span>{{records.icNo}}</span>
                        </td>
                        <td>
                            <span>{{records.tenantName}}</span>
                        </td>
                        <td>
                            <span>{{records.contactNo}}</span>
                        </td>
                        <td>
                            <span>{{records.mailingAddress}}</span>
                        </td>
                        <td>
                            <span>{{records.email}}</span>
                        </td>
                        <td>
                            <span>{{records.companyName}}</span>
                        </td>
                        <td>
                            <button type="button" class="delete-button" (click)="openDeleteConfirmation(records)">
                                <img class="delete-img" src="/..//src/assets/images/deleteButton.png"
                                    alt="Delete Record">
                            </button>
                        </td>
                    </tr>
                    <div class="pagination">
                        <button *ngFor="let page of getPaginationArray()" (click)="setCurrentPage(page)"
                            [class.current-page]="currentPage === page" class="pagination-button">{{ page }}</button>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</body>

<!-- <div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal"></button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->


<div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkslategrey;color: white;">
                <h4 class="modal-title">Record Deleted</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <p>Record for IC No. {{selectedRecord?.icNo}} successfully deleted</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirmModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color: darkslategrey;color: white;">
                <h4 class="modal-title">Confirm Delete?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModalConfirmDelete()"></button>
            </div>
            <div class="modal-body text-center">
                <p>Confirm Delete for Unit No. : {{selectedRecord?.unitNo}} , and IC No. : {{selectedRecord?.icNo}}</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteRecord(selectedRecord)">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeModalConfirmDelete()">Cancel</button>
            </div>
        </div>
    </div>
</div>