<body>
    <div class="top">
        <br>
    </div>
<div class="container-fluid header" >
    <div class="row">
        <div class="col-sm-2 p-3">
            <a>
                <img src="/..//src/assets/images/mpku.png" alt="Home">
            </a>
        </div>
        <div class="col-sm-7 p-3">
            <div class="container mt-3 box nav-justified">
                <ul class="nav nav-pills">
                  <li class="nav-item p-1">
                    <a class="nav-link active" href="dashboard">Home</a>
                  </li>
                  <li class="nav-item p-1">
                    <a class="nav-link btnHover" href="settings">Settings</a>
                  </li>
                  <li class="nav-item p-1">
                    <a class="nav-link btnHover" href="contactUs">Contact Us</a>
                  </li>
                </ul><br>
              </div>
        </div>
        <div class="col-sm-3 p-3">
            <div class="col">
                <div class="container box nav-justified loginBox">
                    <ul class="nav nav-pills">
                    <li class="nav-item">
                      <p>Login As {{userName}}</p>
                    </li>
                    </ul>
                </div>
                <div class="container box nav-justified">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a href="mainPage" class="logoutButton">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="mt-3"></div>

<div class="flexbox m-2" style="background-color: aliceblue;">
    <div class="row">
        <div class="col-sm-7 p-0">
        </div>
        <div class="col-sm-5 p-0">
            <div class="container mt-3 box nav-justified">
                <ul class="nav nav-pills">
                  <li class="nav-item p-1">
                    <a class="nav-link active" href="dashboard">Dashboard</a>
                  </li>
                  <li class="nav-item p-1">
                    <a class="nav-link btnHover" href="reportingISST">Reporting ISST</a>
                  </li>
                  <li class="nav-item p-1">
                    <a class="nav-link btnHover" href="myProfile">My Profile</a>
                  </li>
                </ul><br>
              </div>
        </div>
    </div>
</div>

    

</body>
