<head>
	<title>Slide Navbar</title>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
	<div class="main" *ngIf="!isLoading">
		<label for="login">Kiosk Centralized Monitoring System</label>
		<form [formGroup]="loginForm" class="login-form">
			<div class="row">
				<div class="col-25">
					<label for="userName">User ID</label>
				</div>
				<div class="col-75">
					<input formControlName="username" type="text" name="username" placeholder="User Id" required=""
						[(ngModel)]="loginDetails.username">
				</div>
			</div>
			<div class="row">
				<div class="col-25">
					<label for="pwd">Password</label>
				</div>
				<div class="col-75">
					<input formControlName="password" type="password" name="pswd" placeholder="Password" required=""
						[(ngModel)]="loginDetails.password">
				</div>
			</div>
			<div class="valid"
				*ngIf="loginForm.get('password')?.hasError('minlength') && loginForm.get('password')?.touched">
				*Password must be at least 5 characters long.
			</div>
			<button (click)="login( )">Login</button>
		</form>
	</div>
	<div *ngIf="isLoading">
		<app-spinner [show]="isLoading"></app-spinner>
	</div>
</body>